* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62,5%;
}

.main {
  width: 100%;
  min-height: 100vh;
  background: url("../meditation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.wrapper .timer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  font-size: 2rem;
  color: white;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.wrapper .timer.active {
  opacity: 1;
}

.wrapper .timer .svg {
  width: inherit;
  height: inherit;
}

.wrapper .timer .svg .svg__circle {
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  fill: none;
  stroke: #35293a;
  stroke-width: 3px;
  stroke-dasharray: 615;
}

.wrapper .timer .timer__time {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapper .timer .timer__options {
  width: 70px;
  position: absolute;
  top: 100%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #35293a;
  color: white;
  border: 2px solid #7b6e80;
  font-size: .4em;
  text-align-last: center;
  margin-top: 3.5rem;
  margin-left: 1rem;
  padding: 0.5em;
}

.wrapper .timer .timer__btn {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: .5em;
  letter-spacing: 2px;
  margin-top: 3.5rem;
  padding: 0.5em 0.9em;
  background-color: transparent;
  color: #35293a;
  border: none;
  font-weight: bold;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.wrapper .timer .timer__btn svg,
.wrapper .timer .timer__btn svg rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
  pointer-events: none;
}

.wrapper .timer .timer__btn svg rect {
  stroke: white;
  stroke-width: 5px;
  stroke-dasharray: 500,500;
  -webkit-transition: .7s;
  transition: .7s;
  stroke-dashoffset: 0;
}

.wrapper .timer .timer__btn:hover svg rect {
  stroke-dasharray: 100,400;
  stroke-dashoffset: 270;
}

.wrapper .timer .timer__btn .slash {
  color: white;
  font-size: 1em;
  padding: 3px;
}

.wrapper .wrapper__btn {
  width: 200px;
  height: 200px;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 50%;
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: none;
}

.wrapper .wrapper__btn.active {
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
  display: block;
}

.wrapper .wrapper__btn .wrapper__lotus {
  width: 150px;
  opacity: 0;
  -webkit-animation: show 2s forwards;
          animation: show 2s forwards;
  pointer-events: none;
}

.list {
  list-style: none;
  width: 370px;
  height: 370px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.list .list__item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.list .list__item--buddha {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.list .list__item--croud {
  position: absolute;
  top: 23%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.list .list__item--beach {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.list .list__item--stars {
  position: absolute;
  top: 23%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.list .list__item--rain {
  position: absolute;
  top: 50%;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.list .list__item .list__btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #7b6e80;
  background-color: #35293a;
  padding: 7px;
  cursor: pointer;
  z-index: 3;
}

.list .list__item .list__btn.played {
  background-color: rgba(196, 164, 149, 0.7);
  border: 2px solid white;
}

.list .list__item .list__icon {
  width: 100%;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
  pointer-events: none;
}

.list .list__item:hover .list__btn {
  background-color: rgba(196, 164, 149, 0.7);
  border: 2px solid white;
}

.list .list__item:hover .list__icon {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(110, 0, 59, 0.7);
            box-shadow: 0 0 0 0 rgba(110, 0, 59, 0.7);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(110, 0, 59, 0);
            box-shadow: 0 0 0 10px rgba(110, 0, 59, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(110, 0, 59, 0);
            box-shadow: 0 0 0 0 rgba(110, 0, 59, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(110, 0, 59, 0.7);
            box-shadow: 0 0 0 0 rgba(110, 0, 59, 0.7);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(110, 0, 59, 0);
            box-shadow: 0 0 0 10px rgba(110, 0, 59, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(110, 0, 59, 0);
            box-shadow: 0 0 0 0 rgba(110, 0, 59, 0);
  }
}

@-webkit-keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  .wrapper .timer {
    width: 200px;
    height: 200px;
    font-size: 2.5rem;
  }
  .wrapper .wrapper__btn {
    width: 250px;
    height: 250px;
  }
  .list {
    width: 450px;
    height: 450px;
  }
  .list .list__item .list__btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #7b6e80;
  }
}
/*# sourceMappingURL=main.css.map */