@import './mixins.scss';
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
html{
    font-size: 62,5%;
}
.main{
    width:100%;
    min-height: 100vh;
    background:url("../meditation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    width:auto;
    @include positions(50%,50%);
    z-index: 2;
    .timer{
        width:175px;
        height:175px;
        @include positions(50%,50%);
        font-size: 2rem;
        color:rgb(255, 255, 255);
        .timer__time{
            @include positions(50%,50%);
        }
        .timer__options{
            width:70px;
            @include positions(100%,100%);
            background-color:rgb(95, 87, 98);
            color: rgb(255, 255, 255);
            border:2px solid rgb(123, 110, 128);
            font-size: .4em;
            text-align-last:center;
            margin-top: 3.5rem;
            padding:0.5em;
        }
        .timer__btn{
            @include positions(100%,50%);
            font-size: .5em;
            margin-top: 3.5rem;
            padding:0.4em 0.8em;
            background-color:rgb(95, 87, 98);
            color:rgb(255, 255, 255);
            border-radius:10%;
            border:2px solid rgb(123, 110, 128);
            transition: .4s ;
            &:hover{
                background-color:rgba(196, 164, 149,0.7);
                border:2px solid rgb(255, 255, 255);
                font-size: .45em;
            }
        }
    }
    .wrapper__btn{
        width:200px;
        height:200px;
        transform: scale(1);
        border-radius: 50%;
        border:none;
        background-color: inherit;
        cursor: pointer;
        display: none;
        &.active{
            animation: pulse 1.5s infinite;
            display: block;
        }
        .wrapper__lotus {
            width:150px;
            opacity:0;
            animation: show 2s forwards;
            pointer-events: none;
        }
    }
}
.list{
    list-style: none;
    width:320px;
    height:320px;
    @include positions(50%,50%);
    .list__item{
        @include positions(50%,50%);
        opacity:0;
        transition:all .5s ease-out;
        transition-delay: .4s;
        &.buddha{
            @include positions(50%,10%);
            opacity:1;
        }
        &.croud{
            @include positions(23%,20%);
            opacity:1;
        }
        &.beach{
            @include positions(10%,50%);
            opacity:1;
        }
        &.stars{
            @include positions(23%,80%);
            opacity:1;
        }
        &.rain{
            @include positions(50%,90%);
            opacity:1;
        }
        .list__btn{
            @include btn;
            background-color:rgb(95, 87, 98);
            padding:7px;
            cursor: pointer;
            z-index: 3;
            &.played{
                background-color:rgba(196, 164, 149,0.7);
                border:2px solid rgb(255, 255, 255);
            }
        }
        .list__icon{
            width:100%;
            font-weight: bold;
            transition: .3s;
            pointer-events: none;
        }
        &:hover .list__btn{
            background-color:rgba(196, 164, 149,0.7);
            border:2px solid rgb(255, 255, 255);
        }
        &:hover .list__icon{
            transform: scale(.8);
        }
    }
}
.timer{
    @include positions(50%,50%);
    @include btn(200px,200px);
    opacity:0;
    transition: .3s ;
    &.active{
        opacity:1;
    }
}
@keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(110, 0, 59, 0.7);
    }
    
    50% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(110, 0, 59, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(110, 0, 59, 0);
    }
  }
@keyframes show{
    to{
        opacity: 1;
    }
}
@import './media.scss';