* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  min-height: 100vh;
  background: url("../meditation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.wrapper .wrapper__btn {
  width: 200px;
  height: 200px;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 50%;
  border: none;
  background-color: rgba(110, 0, 59, 0);
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
  cursor: pointer;
}

.wrapper .wrapper__btn .wrapper__lotus {
  width: 150px;
  opacity: 0;
  -webkit-animation: show 2s forwards;
          animation: show 2s forwards;
}

.list {
  list-style: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.list .list__item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.list .list__item.buddha {
  position: absolute;
  top: 50%;
  left: 8%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.list .list__item.croud {
  position: absolute;
  top: 33%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.list .list__item.beach {
  position: absolute;
  top: 27%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.list .list__item.stars {
  position: absolute;
  top: 33%;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.list .list__item.rain {
  position: absolute;
  top: 50%;
  left: 92%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.list .list__item .list__btn {
  width: 50px;
  border-radius: 50%;
  border: 2px solid #cf534e;
  background-color: rgba(207, 82, 78, 0.698);
  padding: 7px;
  cursor: pointer;
}

.list .list__item .list__icon {
  width: 100%;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.list .list__item:hover .list__icon {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(110, 0, 59, 0.7);
            box-shadow: 0 0 0 0 rgba(110, 0, 59, 0.7);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(110, 0, 59, 0);
            box-shadow: 0 0 0 10px rgba(110, 0, 59, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(110, 0, 59, 0);
            box-shadow: 0 0 0 0 rgba(110, 0, 59, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(110, 0, 59, 0.7);
            box-shadow: 0 0 0 0 rgba(110, 0, 59, 0.7);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(110, 0, 59, 0);
            box-shadow: 0 0 0 10px rgba(110, 0, 59, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(110, 0, 59, 0);
            box-shadow: 0 0 0 0 rgba(110, 0, 59, 0);
  }
}

@-webkit-keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */