@import './mixins.scss';

@media(min-width:1000px){
    .wrapper{
        .timer{
            width:225px;
            height: 225px;
            font-size: 2.5rem;
        }
        .wrapper__btn{
            width:250px;
            height:250px;
        }
    }
    .list{
        width: 450px;
        height:450px;
        .list__item{
            .list__btn{
                @include btn(55px,55px)
            }
        }
    }
}

