@import './mixins.scss';
@media(min-width:375px) and (min-height:700px){
    html{
        font-size: 100%;
    }
    .list{
        height:85%;
    }
}
@media(min-width:450px){
    .list{
        width:70%;
    }
}
@media(min-width:375px) and (min-height:800px){
    .list{
        height:75%;
    }
}
@media(min-width:400px) and (min-height:830px){
    .list{
        height:70%;
    }
}
@media(min-width:548px){
html{
    font-size: 90%;
}
.wrapper{
    .timer{
        width:175px;
        height:175px;
    }
}
    .list{
        width: 55%;
        height: 90%;
    }
}
@media(min-width:548px) and (max-height:500px){
    .list{
        .list__item{
            &.beach{
                @include positions(10%,50%);
            }
            &.croud{
                @include positions(20%,20%);
            }
            &.stars{
                @include positions(20%,80%);
            }
        }

    }
    
}
@media(min-width:700px){
    html{
        font-size: 100%;
    }
    .wrapper{
        .timer{
            width:200px;
            height:200px;
        }
    }
    .list{
        width: 55%;
        height:100%;
    }
}
@media(min-width:700px) and (orientation:portrait){
    .list{
        height:70%;
    }
}
@media(min-width:700px) and (max-height:375px){
    .list{
        height:90%;
    }
}
@media(min-width:800px)and (orientation:landscape){
    html{
        font-size: 100%;
    }
    .list{
        width:45%;
        height: 100%;
    }
}
@media(min-height:1000px){
    .list{
        height:70%;
    }
}
@media(min-height:1200px){
    .list{
        height:60%;
    }
}
@media(min-width:900px){
    .list{
        width:38%;
    }
}
@media(min-width:1100px){
    .wrapper{
        .timer{
            font-size: 2.5rem;
        }
    }
    .list{
        width:30%;
    }
}
