@mixin btn($width:45px,$height:45px){
    width:$width;
    height:$height;
    border-radius: 50%;
    border:2px solid rgb(123, 110, 128);
}
@mixin positions($top,$left){
    position: absolute;
    top:$top;
    left:$left;
    transform:translate(-50%,-50%);
}